<%- include header %>

<div>
    <form action="/serchAuthor" method="POST" style="margin-top: 50px; margin-left: 20px; margin-right: 20px">
        <input style="border-radius: 5px; width: 100%" type="text" name="searchAuthor">
        <div style="text-align: right;">
            <button >Pesquisar</button>
            <button >Adicionar</button>
        </div>
    </form>
</div>

</body>

</html>