<%- include header %>

<div>
    &nbsp&nbsp<h1 style="color: #114d29">&nbspAutores</h1>
    <form action="/serchAuthor" method="POST" style="margin-top: 30px; margin-left: 20px; margin-right: 20px">
        <div style="text-align: right;">
            <input style="border-radius: 5px; width: 100%" type="text" name="searchAuthor">
            <button style="
                background-color: #316d49;
                border: none;
                color: white;
                padding: 5px 13px;
                text-align: center;
            ">Pesquisar</button>
        </div>
    </form>
    <div style="text-align: right; margin-left: 20px; margin-right: 22px; margin-top: -15px">
        <a href="cadastroAutor"><button style="
                background-color: #316d49;
                border: none;
                color: white;
                padding: 5px 13px;
                text-align: center;
            ">Adicionar</button></a>
    </div>
</div>
</body>

</html>