<%- include header %>

<div>
    <form>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Título</label>
          <input class="form-control" type="text" name="title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Ingredientes</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Modo de preparo</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect2">Example multiple select</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
            <%if(autores){
                autores.forEach(function(autor){%>
                <option><%=autor.idAuthor%></option>
                <%});%>
            <%}%>
            </select>
          </div>        
      </form>
</div>