<%- include header %>
<!-- Main component for a primary marketing message or call to action -->
<div>
  <h1>Bem vindo!</h1>
  <p>Painel</p>
  <p>
    <a class="btn btn-lg btn-primary" href="/home/profile" role="button">Profile view »</a>
  </p>
</div>
</body>
</html>