<%- include header %>

<div>
    &nbsp&nbsp<h1 style="color: #114d29">&nbspReceitas</h1>
    <form action="" method="GET" style="margin-top: 30px; margin-left: 20px; margin-right: 20px">
        <div style="text-align: right;">
            <input style="border-radius: 5px; width: 100%" type="text" name="searchRecipe">
            <a href="buscarReceita"><button style="
                background-color: #316d49;
                border: none;
                color: white;
                padding: 5px 13px;
                text-align: center;
            ">Pesquisar</button></a>
        </div>
    </form>
</div>